// Page Colors
$brand_color_light: #f5f7ff;
$brand_color_dark: #020e58;
$brand_color_neutral: #d7cde2;
$brand_color_somber: #38036c;
$brand_color_dim: #edf1ff;
$neutral_scepter: #f2f2f2;

//font colors
$text_light: #6b7092;
$text_dark: #101828;
$text_link_dark: #1d2939;
$text_dim: #38036c;

:export {
  brand_color_light: $brand_color_light;
  brand_color_dark: $brand_color_dark;
  brand_color_neutral: $brand_color_neutral;
  brand_color_somber: $brand_color_somber;
  brand_color_dim: $brand_color_dim;
  neutral_scepter: $neutral_scepter;

  text_light: $text_light;
  text_dark: $text_dark;
  text_link_dark: $text_link_dark;
  text_dim: $text_dim;
}
